fastapi>=0.95.0
uvicorn>=0.21.1
scikit-learn>=1.0.2
pandas>=1.5.3
spacy>=3.5.1
pydantic>=1.10.7
python-multipart>=0.0.6
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
https://github.com/explosion/spacy-models/releases/download/de_core_news_sm-3.5.0/de_core_news_sm-3.5.0-py3-none-any.whl